:root {
    /* Board colors */
    --board-bg-w: rgb(200, 200, 200);
    --board-bg-b: rgb(100, 100, 100);

    /* Piece colors */
    --piece-w: rgb(230, 230, 230);
    --piece-border-w: rgb(190, 190, 190);
    --piece-b: rgb(30, 30, 30);
    --piece-border-b: rgb(70, 70, 70);
    
    /* Move colors */
    --move-border-move: rgb(0, 230, 0);
    --move-border-kill: rgb(230, 0, 0);
}


main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 64px;
}